<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style type="text/css">
        body {
            background-color: cadetblue;
            background-repeat:no-repeat ;
            background-size:100% 100%;
            background-attachment: fixed;
        }
        #box {
            width: 20%;
            margin: 10% auto;
            background-color: rgba(255, 255, 255, 0.3);
            border-radius: 10px;
            padding: 1%;
        }
        p {
            font-size: 15px;
            color: #ff0000;
        }
    </style>
</head>
<script type="text/javascript">
    function login() {
        $.ajax({
            type: "POST",//方法类型
            dataType: "json",//预期服务器返回的数据类型
            url: "/login" ,//url
            data: $('#form1').serialize(),
            success: function (data) {
                if (data.status=="ADMIN"){
                    location.href = "/toAdmin";
                }else if (data.status=="USER"){
                    location.href = "/toUser";
                }else if (data.status=="FAIL"){
                    alert("The user name or password is incorrect！")
                }else if (data.status=="NULL"){
                    alert("The user name or password is empty！")
                }
            },
            error : function() {
                alert("error！");
            }
        });
    }
</script>
<body>
<div id="box">
    <form id="form1" onsubmit="return false" action="##" method="post">
        <center><h3>Film Management System</h3></center>
        account：<input id="account" required class="form-control" type="text" name="account">
        <br/>
        password：<input id="pwd" required class="form-control"  type="password" name="pwd">
        <br/>
        <center>
            <input class="btn btn-success" onclick="login()" type="button" value="Login"/>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a class="btn btn-primary" href="/toRegister">Register</a>
        </center>
    </form>

</div>
</body>

</html>